
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
  background:linear-gradient(to top, #af3d07, blue);
  display: flex;
  justify-content: center;
  align-items: center;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}


#container h2 {
  margin-bottom: 20px;
  color: #333;
}


#container label {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  color: #555;
}


#container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

#container input:focus {
  border-color: #ff8c42;
}


#container button {
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #ff8c42;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#container button:hover {
  background-color: #e6732f;
}

#container h5{
  margin-top: 20px;
 color: blue;
 align-self: center;
 font-family:Arial, Helvetica, sans-serif;
 
}
